/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dadfeda1;
}

p {
    padding-bottom: 3%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 150%;
}

a:hover {
    border-bottom: 2px solid black;
}

/* Home page */
#bodyIndex {
    background: url(../images/Ludo-home-background.webp) no-repeat 86% center/cover;
}

main#homepage {
    margin: 50px 5% 75px 5%;
    background-color: rgba(245, 245, 245, .75);
    box-shadow: 0px 3px 7px 1px #3a3a3a;
    border-radius: 3%;
    max-width: 450px;
    width: 95%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
}

section {
    padding: 9px 0;
}

.startParagraph {
    padding: 5px 10px;
    text-align: center;
}

#RulesBtn {
    border: 1px dotted #3a3a3a;
    width: 50%;
    position: relative;
    transform: translateX(50%);
    margin: 5% 0;
}

#players-form {
    width: 100%;
    text-align: center;
}

.btn-player {
    width: 45%;
    height: 45px;
    letter-spacing: 1.2px;
    margin: 5px;
    border-radius: 8px;
    font-size: 120%;
    font-weight: 700;
    background-color: grey;
    color: white;
}

.btn-player:hover {
    background-color: rgb(95, 95, 95);
    font-size: 130%;
}

.btn-start {
    width: 85%;
    height: 55px;
    text-transform: uppercase;
    font-size: 120%;
    background-color: rgba(33, 136, 42, 0.75);
    color: rgba(245, 245, 245);
    margin-top: 25px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    /* Could be more or less, depending on screen size */
    max-width: 735px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=text] {
    margin: 10px 0;
    padding: 5px;
    width: 50%;
}

/* Page TheBoard */
#boardandpalyers {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#h2board {
    display: none;
}

#theBoard {
    width: 100%;
    max-width: 375px;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.bas {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bas:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.walkway,
.yellowbas,
.greenbas,
.bluebas,
.redbas {
    border: 1.5px solid black;
    border-radius: 20%;
}

.walkway:hover {
    background-color: #92929277;
}

.yellowbas {
    background: #efef3383;
}

.greenbas {
    background: #02af3380;
}

.bluebas {
    background: #3033ff80;
}

.redbas {
    background: #E2323280;
}

#nest {
    background-image: conic-gradient(#efef3383 45deg, #3033ff80 45deg, #3033ff80 135deg, #E2323280 135deg, 
    #E2323280 225deg, #02af3380 225deg, #02af3380 315deg, #efef3383 315deg);
}

/* Section Players */
#players {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#players h2 {
    text-transform: uppercase;
    font-size: 150%;
}

#players>div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markerP1:hover, .markerP2:hover,
.markerP3:hover, .markerP4:hover {
    background-color: rgba(122, 122, 122, 0.486);
}

.pawnbas {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pawnbas:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

img {
    width: 90%;
}

#pawns {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
}

#pawns>div {
    display: flex;
    flex-basis: 45%;
    flex-grow: 0.45;
    align-items: center;
    justify-content: space-evenly;
}

#diceDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}

#dice {
    font-size: 300%;
    border: none;
    background-color: inherit;
}

footer {
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 45px;
    padding: 0 30%;
}

/* Media query: tablor landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #boardandpalyers {
        margin: 3% 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 98%;
    }

    #theBoard {
        width: 100%;
        max-width: none;
    }

    #pawns {
        width: 80%;
    }

    #pawns>div {
        flex-basis: 70%;
        margin: 5% 0;
    }

    #players {
        width: 25%;
    }

}

/* Media query: tablor landscape phones (768px and up) */
@media screen and (min-width: 768px) {
    #boardandpalyers {
        margin: 1% 0;
    }

    #theBoard {
        width: 80%;
        max-width: 790px;
    }

    .row {
        justify-content: center;
        padding: 0 50px;
    }
    
    #pawns {
        width: 60%;
    }

}