/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bodyIndex {
    background: url(../images/pexels-omaela-apartments-11646952.jpg) no-repeat 86% center/cover;
}

main {
    margin: 50px 5% 75px 5%;
    background-color: rgba(245, 245, 245, .75);
    box-shadow: 0px 3px 7px 1px #3a3a3a;
    border-radius: 3%;
    max-width: 450px;
    width: 95%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
}

section {
    padding: 9px 0;
}

p {
    padding: 5px 10px;
    text-align: center;
}

#RulesBtn {
    border: 1px dotted #3a3a3a;
    width: 50%;
    position: relative;
    transform: translateX(50%);
    margin: 5% 0;
}

#players-form{
    width: 100%;
    text-align: center;
}

.btn-player{
    width: 45%;
    height: 45px;
    letter-spacing: 1.2px;
    margin: 5px;
    border-radius: 8px;
    font-size: 120%;
    font-weight: 700;
    background-color: grey;
    color: white;
}

.btn-start {
    width: 85%;
    height: 55px;
    text-transform: uppercase;
    font-size: 120%;
    background-color: rgba(33, 136, 42, 0.75);
    color: rgba(245, 245, 245);
    margin-top: 25px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    max-width: 735px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Media query: tablor landscape phones (576px and up) */
@media screen and (min-width: 576px) {


}

/* Media query: tablor landscape phones (768px and up) */
@media screen and (min-width: 768px) {


}